<h1>Bienvenue </h1>

<br>
<br>
<hr>
<br>
<br>
<div class="pargaprahpe1">
  <strong>Le GCT est mondialement réputé pour la qualité de ses produits résultant de la transformation du phosphate
    tunisien en acide phosphorique et en engrais minéraux à différents teneurs, selon les différents usages.
  
  </strong>
  
</div>

<br>
<br>
<br>
<div class="pargaprahpe1">

<h2>Cellule de la bonne gouvernance
</h2>
</div>
<br>

<hr>

<strong>Tél :</strong> (+216) 71 90 63 36
<br>
<br>
<strong>E-mail :</strong>gct.reclamation@gct.com.tn

<br>
<br>
<hr>
 <img src="../../../assets/logo_old.png" width="600px" height="200px">

